html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#nav_bar {
    display: flex;
    justify-content: center;
    background-color: rgba(134, 134, 134, 0.728);
    width: 98%;
    height: 40px;
    font-size: 24px;
    gap: 12px;
    margin-bottom: 12px;
}

#nav_bar span {
    color: red;
}

#menu_container {
    display: flex;
    width: 98%;
    /* background-color: red; */
    justify-content: left;
}

#menu {
    display: flex;
    /* background-color: yellow; */
    flex-wrap: wrap;
    width: 32%;
    gap: 12px;
}

#menu a {
    padding: 12px;
    text-decoration: none;
}

.first-four{
    background-color: lightskyblue;
}

.last_four{
    background-color: lightgreen;
}