html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(246, 246, 246);
}

#container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    gap: 10px;
}

.card{
    width: 250px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 10cap;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo{
    width: 60px;
    height: 60px;
    background-color: rgba(3, 3, 252, 0.836);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.name{
    color: black;
    font-weight: 400;
    font-size: 20px;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    gap: 5px;
   
}